body {
    background-color: white;
    margin: 0cm;
}

.top-container {
    background-color: #FCF8E8;
    height: 200px;
    width: 200px;
    padding: 20px;
    border: solid 10px;
}

.middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 260px;
}

.bottom-container {
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: solid 10px;
    margin-left: 500px;
}